/* AudioForm.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.container {
    max-width: lg;
    background-color: #f5f5f5;
    padding: 10px;
  }

.paper {
    padding: 20px;
    margin-top: 20px;
    background-color: #f5f5f5;
}

.typographyHeader {
    color: #3f51b5;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif; 
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.addRemoveButton {
    margin-right: 10px;
}

.submitButton {
   margin-top: 0px;
}

.audioSection {
    margin-top: 0px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audioPlayer {
    width: 50%;
    height: 50px;
    border-radius: 4px;
}

/* Voeg hier eventueel meer stijlen toe */
