<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <!-- Bootstrap Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('home') }}">Surrounded by Voices</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Generate text
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('get_chat') }}">Chat</a>
                            <a class="dropdown-item" href="{{ url_for('get_assistants') }}">Assistants</a>
                            <a class="dropdown-item" href="{{ url_for('get_threads') }}">Threads</a>
                        </div>  
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Text-to-Voice
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('elevenlabs') }}">Elevenlabs</a>
                            <a class="dropdown-item" href="{{ url_for('text_to_voice') }}">Text-to-Voice</a>
                            <a class="dropdown-item" href="{{ url_for('speech_to_speech') }}">Speech-to-Speech</a>
                            <a class="dropdown-item" href="{{ url_for('multiple_voices') }}">Multiple Voices</a>
                            <a class="dropdown-item" href="{{ url_for('voice_designer') }}">Voice Designer</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer class="bg-light text-center text-lg-start mt-4">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Surrounded by Voices
        </div>
    </footer>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
