{% extends "layout.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Speech Synthesis Card -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-4">Voice Designer</h2>
                    <!-- p>Generate custom voices.</p -->
                <div>
                    <button id="generateRandomVoice" class="btn btn-primary">Generate Random Voice Design</button>
                </div> 
                    <div id="loading-spinner" style="display: none;" class="mb-4">
                        <div class="spinner-border text-primary m-5" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="audio-result"></div>                
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function generateRandomVoiceDesign() {
        // Show loading spinner
        document.getElementById('loading-spinner').style.display = 'block';

        // Make a fetch request to generate a random voice design
        fetch('/generate_voice_design', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            console.log("Data parsed:", data);
            document.getElementById('loading-spinner').style.display = 'none';
            const audioResult = document.getElementById('audio-result');
            if(data.audio_file) {
                const audio = new Audio(data.audio_file);
                audio.controls = true;
                audioResult.innerHTML = '';

                // Create elements to display the voice name and text
                const voiceNameElement = document.createElement('h2');
                voiceNameElement.classList.add('mb-4');                
                voiceNameElement.textContent = data.voice_name;
                const voiceDataElement = document.createElement('p');

                // Define an array of colors for the buttons
                const colors = ['red', 'blue', 'green', 'purple'];

                // Create a button for each attribute
                const attributes = [data.voice_gender, data.voice_age, data.voice_accent, data.voice_accent_strength];
                attributes.forEach((attribute, index) => {
                    const button = document.createElement('button');
                    button.textContent = attribute;
                    button.style.backgroundColor = colors[index % colors.length];  // Use a color from the array
                    button.style.color = 'white';  // Set the text color to white for contrast
                    button.className = 'mr-2 mb-2';  // Add some margin to separate the buttons
                    // disable the button
                    button.disabled = true;
                    // Append the button to the parent element
                    voiceDataElement.appendChild(button);
                });
                
                // voiceDataElement.textContent = [data.voice_gender, data.voice_age, data.voice_accent, data.voice_accent_strength].join(', ');                
                const voiceDescriptionElement = document.createElement('p');
                voiceDescriptionElement.textContent = data.voice_description;
                const textElement = document.createElement('p');
                textElement.textContent = data.voice_text;
                
                // Append the audio and info elements to the audio result
                audioResult.appendChild(voiceNameElement);
                audioResult.appendChild(voiceDataElement);
                audioResult.appendChild(voiceDescriptionElement);
                audioResult.appendChild(textElement);
                audioResult.appendChild(audio);

            } else {
                console.error("No audio data received");
                audioResult.innerHTML = '<p>No audio generated. Check the console for errors.</p>';
            }
        })
        .catch(error => {
            console.error("Error:", error);
            document.getElementById('loading-spinner').style.display = 'none';
            const audioResult = document.getElementById('audio-result');
            audioResult.innerHTML = '<p>An error occurred. Check the console for details.</p>';
        });
    }

    // Event handler for the "Generate Random Voice Design" button
    document.getElementById('generateRandomVoice').addEventListener('click', generateRandomVoiceDesign);
</script>



{% endblock %}
